body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #0A192F; /* Dark blue background */
    color: #E0E1DD; /* Light grey text color for readability */
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    align-content: flex-end;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border-radius: 5px; /* Rounded corners for the background */
}
.carousel-item img {
    height: 500px; /* Fixed height for all ai */
    object-fit: cover; /* Cover ensures the aspect ratio is maintained while covering the area */
    width: 100%; /* Ensure width is always 100% of the container */
}

.navbar {
    width: 100%;
    background-color: #112240;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}
.navbar-logo, .navbar-text {
    display: flex;
    align-items: center;
}
.navbar-logo img {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.navbar-text {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-text a:hover {
    color: #007BFF;
}

.project-logo-container {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
.buttons {
    margin: 20px;
}
.button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar, .navbar-parent {
    overflow: visible;
}