body {
    background-color: #234;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
    font-family: "Adobe Devanagari", serif;
}